<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %> <!-- Si se quiere ir a una accion que esta dentro del mismo controlador no se necesita especificar la opcion 'controller: bla', Rails usara el actual controlador-->
